 {{#if errors}}
<div class="alert alert-danger alert-dismissible fade show mt-5" role="alert">
    <ul>
        {{#each errors}}        
        <li>{{msg}}</li>
        {{/each}}
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

{{#if successMessage}}
<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
    {{successMessage}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}