@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e9edc9;
}

::-webkit-scrollbar {
  display: none;
}

.navbar-brand{
  font-family: "Protest Riot", sans-serif !important;
  font-weight: 500;
  font-size: 1.5rem;
}

.alertMessage ul{
  padding: 0;
  margin: 0;
}

.alertMessage ul li{
  list-style: none;
}

.alertMessage ul li:not(:last-child){
  margin-bottom: 0.5rem;
}

.login-content {
  height: 77vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-content form{
  width: 20rem;
}

.home{
  height:480px;
}

.fa-arrow-down{
  background-color: #1F2544;
  padding: 10px 13px;
  border-radius: 50%;
  color: #eee;
}

.article-body{
  text-align: justify;
}

textarea{
  resize: none;
}